@model IEnumerable<AuroraProject.Models.Influencer>
@{
    ViewBag.Title = "Mine Favourite Influencers";
}
<div class="container-fluid card-container-fluid">

    <h6 class="navigator-h6">@Html.ActionLink("Aurora", "Index", "Home") > <a href="" onClick="window.location.reload();">Mine Favourite Influencers</a></h6>

    <div class="page-decoration container">
        <h1 class="page-heading">"Mine Favourite Influencers"</h1>
        <p class="page-descreption">A fact about the user, based on his avtivity to make his day</p>

        <div class="sorting-div">
            <div class="dropdown">
                <div href="#" data-toggle="dropdown" class="dropdown-toggle">Influencer Options<b class="caret"></b></div>
                <div class="dropdown-menu">
                    <div>
                        <div class="checkbox">
                            <label>
                                Rating
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Name
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Most Followed
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Online
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <div href="#" data-toggle="dropdown" class="dropdown-toggle">Card Options<b class="caret"></b></div>
                <div class="dropdown-menu">
                    <div>
                        <div class="checkbox">
                            <label>
                                Most Endoresed
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Lowest Price
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <div href="#" data-toggle="dropdown" class="dropdown-toggle">Delivery Time<b class="caret"></b></div>
                <div class="dropdown-menu">
                    <div>
                        <div class="checkbox">
                            Express
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Up to 3 Days
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Up to 5 Days
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label>
                                Up to 7 Days
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sorting-div">
            @*<p class="services-count">Cards Available: @Model.Gigs.Count()</p>*@
        </div>
    </div>

    <div class="row justify-content-around">

        <!-- Inverse Card -->
        <div class="favourite-influncer-card gig-card pmd-card pmd-card-dark mt-4 p-0 mr-1 ml-1 col-xl-3 col-lg-5 col-md-6 col-sm-8">
            <div class="front">
                <div class="influencer-card" href="#">
                    <div class="top">
                        <div class="container">
                            <div class="name">
                                <p class="influencer-p1">Gal Gadot</p>
                                <p class="city">Audience Main Country</p>
                            </div>


                            <div class="exposure">

                                <div class="inlfunecer-likes">
                                    <p class="influencer-p2">Exposure</p>
                                </div>

                                <div class="influnecer-maintopic">
                                    <p class="influencer-p2">Main Topic</p>
                                </div>

                                <div class="influnecer-gigs">
                                    <p class="influencer-p2">Gigs</p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="bottom">Follow</div>

                    <div class="back">
                        <div class="back-content middle">
                            <span>Instagram</span> <br>
                            <span>Youtube Channel</span> <br>
                            <span>Facebook Channel</span> <br>
                            <span>Linkedin</span> <br>
                            <div class="lg">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


