body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    padding: 0;
    /*margin: 0em, 2em, 0em, 2em;*/
    margin: 0;
    font-family: 'Sen', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*ROOT VALUES*/
:root {
    --main-navbarText-color-hover: #660066;
    --main-navbarText-color: #62646A;
    --main-navbarTextPro-color: #660066;
    --main-navbarTextPro-color-hover: #b926b9;
    --main-navbarBackgroundJoin-color-hover: #b926b9;
    --main-inputText-color: purple;
    --main-buttonText-color: floralwhite;
    --page-decorator-maintext-white: floralwhite;
}


/*IMAGE FLUID*/
.img-fluid {
    max-width: 100%;
    max-height: inherit;
}

.pmd-card-media {
    max-height: 13em;
}

/*CUSTOM HOME*/
.home-container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

.home-nav {
    background-color: transparent;
    z-index: 3;
    position: relative;
    float: right;
    width: auto;
    height: 2em;
    /*padding: 10px;*/
    font-size: 14px;
}

    .home-nav li {
        margin: 1em;
        cursor: pointer;
        opacity: 0.7;
    }

        .home-nav li:hover {
            opacity: 1;
        }

        .home-nav li a {
            color: white;
        }

            .home-nav li a:hover {
                text-decoration: none;
            }

.home-img {
    background-image: linear-gradient(rgba(20, 0, 255, 0.8), rgba(255, 0, 173, 0.5)), url(Images/Images/home.jpg);
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff !important;
    opacity: 1;
}

.home-logo {
    width: 10em !important;
    height: auto;
    padding: 1em;
    position: absolute;
}

/*Sentence*/
.sentence {
    font-size: 30px;
    text-align: left;
}
/*Wrapper*/
.wrapper {
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 1em;
    position: relative;
    max-width: 60%;
    max-height: 60%;
}

.sentence {
    text-align: center;
    position: relative;
    left: 40%;
    top: 45%;
    transform: translate(-50%, 0%);
    font-size: 35px;
    display: inline-flex;
}
/*Vertical Sliding*/
.slidingVertical {
    text-indent: 10px;
    position: relative;
}

@media (max-width: 1366px) {

    .sentence {
        font-size: 35px !important;
        left: 50% !important;
        width: 18em;
        text-align: left;
    }
}

@media (max-width: 991px) {

    .sentence {
        text-align: left;
        position: relative;
        left: 50% !important;
        top: 50%;
        transform: translate(-50%, 0%);
        font-size: 25px;
        display: inline-flex;
        width: 12em !important;
    }

    .slidingVertical {
        text-indent: 10px;
        position: relative;
        text-align: center !important;
    }

    .wrapper {
        top: 50%;
    }
}

@media (max-width: 731px) {

    .sentence {
        font-size: 30px !important;
        left: 50%;
        width: 5em;
    }
}

@media (max-width: 568px) {

    .sentence {
        font-size: 28px !important;
        width: 6em !important;
        left: 50% !important;
    }

    .wrapper {
        top: 50% !important;
    }
}

@media (max-width: 360px) {

    .sentence {
        font-size: 25px !important;
        left: 45% !important;
        top: 1.5em !important;
        width: 6em !important;
    }

    .wrapper {
        top: 45% !important;
    }
}

.slidingVertical span {
    animation: topToBottom 12.5s linear infinite 0s;
    -ms-animation: topToBottom 12.5s linear infinite 0s;
    -webkit-animation: topToBottom 12.5s linear infinite 0s;
    color: #00abe9;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

    .slidingVertical span:nth-child(2) {
        animation-delay: 2.5s;
        -ms-animation-delay: 2.5s;
        -webkit-animation-delay: 2.5s;
    }

    .slidingVertical span:nth-child(3) {
        animation-delay: 5s;
        -ms-animation-delay: 5s;
        -webkit-animation-delay: 5s;
    }

    .slidingVertical span:nth-child(4) {
        animation-delay: 7.5s;
        -ms-animation-delay: 7.5s;
        -webkit-animation-delay: 7.5s;
    }

    .slidingVertical span:nth-child(5) {
        animation-delay: 10s;
        -ms-animation-delay: 10s;
        -webkit-animation-delay: 10s;
    }

/*topToBottom Animation*/
@-moz-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -ms-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -ms-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*ARROW HOME*/

.arrow-toHome {
    position: absolute;
    top: 49%;
    left: 2em;
    margin-right: 2em;
    transform: rotate(90deg);
    z-index: 3;
}

.arrow-toIndustry {
    position: absolute;
    top: 49%;
    right: 1.5em;
    margin-right: 2em;
    transform: rotate(270deg);
}

/*.arrow {
    position: absolute;
    top: 49%;
    right: 1.5em;
    margin-right: 2em;
    transform: rotate(270deg);
}*/

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*CUSTOM LAYOUT NAVBAR*/
.navbar-brand {
    width: 6em;
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .navbar-brand {
        display: block;
        transform: translateX(-50%);
        left: 50%;
        position: relative;
    }
}


.navbar-brand > img {
    width: 100%;
}

.Aurora-Pro {
    font-weight: bold;
    color: var(--main-navbarTextPro-color) !important;
}

    .Aurora-Pro:hover {
        font-weight: bold;
        color: var(--main-navbarTextPro-color-hover) !important;
    }

.Become-Influencer {
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    transition: ease-in 0.25s;
}

    .Become-Influencer:hover {
        color: var(--main-navbarText-color-hover) !important;
    }

.Sing-In {
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    transition: ease-in 0.25s;
}

    .Sing-In:hover {
        color: var(--main-navbarText-color-hover) !important;
    }

.li-Join {
    border: solid purple 1.4px;
    width: 4.5rem;
    height: 2.5em;
    transition: ease-in 0.25s;
    margin: 0 0 0 1em;
    align-self: flex-end;
}

.Join {
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    position: relative;
    top: -0.1rem;
    height: 100%;
    height: 2.6em;
    transition: ease-in 0.25s;
    text-align: center;
}

.li-Join:hover {
    background-color: var(--main-navbarBackgroundJoin-color-hover);
    border: none;
}

.li-Join:hover, .Join:hover {
    color: var(--main-buttonText-color) !important;
    top: 0rem;
}

.log-off {
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    transition: ease-in 0.25s;
}

    .log-off:hover {
        color: var(--main-navbarText-color-hover) !important;
    }

.hello-user {
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    transition: ease-in 0.25s;
}

    .hello-user:hover {
        color: var(--main-navbarText-color-hover) !important;
    }

.logged-dropdown {
    width: 18em;
    border: solid 1px rgb(118,30,131);
    text-align: left;
    align-self: stretch;
}

    .logged-dropdown.show {
        display: inline-grid !important;
        position: relative;
        left: 50% !important;
        transform: translate(-68%);
    }


.i-logged-dropdown {
    margin-right: 1em;
    padding: 1em;
}

@media (max-width: 991px) {
    .logged-dropdown.show {
        border: none;
        /*left: 11em !important;*/
        top: -1em !important;
        position: relative;
        width: 73%;
    }

    .logged-dropdown {
        text-align: right;
        background-color: transparent;
        align-self: stretch;
        transform: none;
    }
}

/*FADEIN OVERRIDE*/
.fadeIn {
}


.navbar-toggler {
    box-shadow: 0px 0px 0px 1px rgba(118,30,131, .5);
    outline: none !important;
    transition: 0.6s;
}

    .navbar-toggler:hover {
        box-shadow: 0px 0px 0px 1px rgba(118,30,131, 1);
    }

/*CUSTOM INDUSTRY NAV BAR*/
.nav-Industry {
    box-shadow: 0px 0px 0px 1px rgba(118,30,131, 0.2);
    margin-bottom: 1em;
}

.industry-nav {
    padding: 0 1rem 0 1rem !important;
}

.ul-Industry {
    margin-left: 0 !important;
}

#navbarNav-Industry {
    text-align: center;
    justify-content: center;
    transition: 0.1s;
}

.li-industry {
    align-self: start;
    position: relative !important;
    display: block !important;
}

.button-Industry {
    padding: 0 !important;
    margin: 0.8rem;
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    border: none;
    outline: none !important;
    background-color: transparent;
    display: block;
}

    .button-Industry:hover {
        color: var(--main-navbarText-color-hover) !important;
    }

.toggler-industry {
    float: left !important;
    position: relative;
    top: -4rem;
}

@media (max-width: 991px) {
    .nav-Industry {
        border: none !important;
        box-shadow: none;
        position: absolute;
        width: 50%;
        z-index: 3;
        top: 4.718em;
        background-color: transparent !important;
    }

    .toggler-industry {
        position: absolute;
        top: -2.94em;
    }

    #navbarNav-Industry {
        background-color: #f8f9fa;
        position: relative;
        left: -16px;
        top: -8px
    }
}

/*BUTTONS FOR SMALL SCREEN VIEWS*/
.user-icon-toggler {
    padding: 0.4rem;
    color: var(--main-navbarTextPro-color);
}

.navbar-toggler-button:hover .user-icon-toggler {
    color: var(--main-buttonText-color);
}

.navbar-toggler-button:hover {
    background-color: var(--main-navbarBackgroundJoin-color-hover);
    box-shadow: 0px 0px 0px 1px rgba(118,30,131, 0);
}



.burger-icon-toggler {
    padding: 0.4rem;
    color: var(--main-navbarTextPro-color);
}

.toggler-industry:hover .burger-icon-toggler {
    color: var(--main-buttonText-color);
}

.toggler-industry:hover {
    background-color: var(--main-navbarBackgroundJoin-color-hover);
    box-shadow: 0px 0px 0px 1px rgba(118,30,131, 0);
}

/*.button-Industry:hover + .div-specificInd {
            animation-delay: 0.5s;
            display: block;
        }*/

/*SECIFIC INDUSTRIES DROPDOWN*/
.div-specificInd {
    /*width: 30rem;*/
    height: auto;
    text-align: left;
    border: solid 1px rgb(118,30,131);
    z-index: 3;
    width: 30em;
    /*left: 55%;
    margin-left: -105px;*/
}

@media (max-width: 1451px) {
    .div-specificInd {
        height: auto;
        text-align: left;
        border: solid 1px rgb(118,30,131);
        z-index: 3;
        width: 260px;
        left: 50%;
        margin-left: -105px;
    }
}

@media (max-width: 991px) {
    .div-specificInd {
        /*width: 25rem;*/
        height: auto;
        text-align: left;
        border: none;
        z-index: 3;
        margin-left: 0 !important;
    }
}

.a-specificInd {
    font-weight: 500 !important;
    color: var(--main-navbarText-color) !important;
    transition: ease-in 0.25s;
    display: inline-flex;
    text-align: left;
    width: 10rem;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    background-color: white;
    z-index: 3;
}

    .a-specificInd:hover {
        color: var(--main-navbarText-color-hover) !important;
        background-color: white;
    }

/*PAGE DECORATIONS*/
.navigator-h6 {
    color: var( --main-navbarText-color) !important;
    text-decoration: none;
    margin: 1em;
}

    .navigator-h6 a {
        color: var( --main-navbarText-color) !important;
    }

.page-decoration {
    display: grid;
    grid-gap: 0.08px;
    margin: 1em 0 0 1em;
}


.page-heading {
    color: var( --main-navbarText-color) !important;
    text-decoration: none;
    font-size: 29px;
    font-weight: bold;
}

.page-descreption {
    color: var( --main-navbarText-color) !important;
    text-decoration: none;
    opacity: 0.8;
    position: relative;
}

.sorting-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    position: relative;
    /*grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));*/
}

/*OTAN MIKRAINEI H OTHONH */
@media (max-width: 1441px) {

    .sorting-div {
        width: 90% !important;
        grid-template-columns: repeat( 1, minmax(250px, 1fr)) !important;
    }

    .page-decoration {
        display: grid;
        grid-gap: 0.08px;
        margin: 1em 0 0 0em;
        grid-template-columns: repeat( 1, minmax(250px, 1fr)) !important;
    }
}

.sorting-div .dropdown {
    margin: 1em;
    text-align: center;
    /*background-color: var(--main-navbarTextPro-color);*/
    /*color: floralwhite;*/
    border-radius: 10px;
    max-width: 15em;
    cursor: pointer;
    transition: .6s;
    /*background-color: var(--main-navbarTextPro-color);*/
    color: var(--main-navbarText-color);
    border: 1px solid;
    padding: 4px;
}

    .sorting-div .dropdown:hover {
        background-color: var(--main-navbarTextPro-color-hover);
        color: white;
    }

.sorting-div .dropdown-menu {
    position: absolute;
    border-radius: 10px;
    top: 6px !important;
    left: 8% !important;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.services-count {
    color: var(--main-navbarText-color) !important;
    text-decoration: none;
    opacity: 0.7;
    position: relative;
    top: 1.5em;
}

/*PAGE DECORATION FOR DIFFERENT BACKGROUNDS*/
.navigator-h6-b {
    color: var( --page-decorator-maintext-white) !important;
    text-decoration: none;
    margin: 1em;
}

    .navigator-h6-b a {
        color: var( --page-decorator-maintext-white) !important;
    }

.page-decoration-b {
    display: grid;
    grid-gap: 0.08px;
    margin: 1em 0 0 1em;
}


.page-heading-b {
    color: var( --page-decorator-maintext-white) !important;
    text-decoration: none;
    font-size: 29px;
    font-weight: bold;
}

.page-descreption-b {
    color: var( --page-decorator-maintext-white) !important;
    text-decoration: none;
    opacity: 0.8;
    position: relative;
}

.sorting-div-b {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, minmax(240px, 1fr));
    position: relative;
    /*grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));*/
}

    .sorting-div-b .dropdown:hover {
        color: purple !important;
        background-color: white !important;
        /*grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));*/
    }

/*OTAN MIKRAINEI H OTHONH */
@media (max-width: 991px) {

    .sorting-div-b {
        width: 90% !important;
        grid-template-columns: repeat( 1, minmax(250px, 1fr) );
    }

    .page-decoration-b {
        display: grid;
        grid-gap: 0.08px;
        margin: 1em 0 0 0em;
        grid-template-columns: repeat( 1, minmax(250px, 1fr) );
    }
}

.sorting-div-b .dropdown {
    margin: 1em;
    text-align: center;
    /*background-color: var(--main-navbarTextPro-color);*/
    /*color: floralwhite;*/
    border-radius: 10px;
    max-width: 15em;
    cursor: pointer;
    transition: .6s;
    /*background-color: var(--main-navbarTextPro-color);*/
    color: var( --page-decorator-maintext-white);
    border: 1px solid;
    padding: 4px;
}

    .sorting-div-b .dropdown:hover {
        background-color: var(--main-navbarTextPro-color-hover);
        color: white;
    }

.sorting-div-b .dropdown-menu-b {
    position: absolute;
    border-radius: 10px;
    top: 6px !important;
    left: 8% !important;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.services-count-b {
    color: var( --page-decorator-maintext-white) !important;
    text-decoration: none;
    opacity: 0.7;
    position: relative;
    top: 1.5em;
}


/*CUSTOM CARD FOR GIGS*/

.row-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.gig-card {
    width: 26em;
    background-color: ghostwhite;
    border: solid rgba(130,125,253,1) 1px;
    border-radius: 10px;
}


.fa-eye-slash, .fa-eye, .fa-heart-o, .fa-heart {
    /*font-size: 0px;*/
    color: var(--main-navbarText-color) !important;
    align-self: normal;
    position: absolute;
    top: 0.5em;
    right: 1em;
    display: none !important;
    z-index: 3;
    transition: 0.7s;
}

    .fa-eye-slash:hover, .fa-eye:hover,
    .fa-heart-o:hover, .fa-heart:hover {
        color: var(--main-navbarTextPro-color-hover) !important;
    }

.card-title:hover .fa-eye-slash, .card-title:hover .fa-eye,
.card-title:hover .fa-heart-o, .card-title:hover .fa-heart {
    display: block !important;
    cursor: pointer !important;
}

.card-footer {
    align-self: center;
    width: 100%;
    color: grey;
    justify-content: center !important;
    box-shadow: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

    .card-footer > p{
        color: grey !important;
        position: relative;
        height: 1em;
        cursor: pointer;
        top: 4px;
    }

    .card-footer > p:hover {
        color: purple !important;
    }

    .card-footer > .fa-heart, .card-footer > .fa-heart-o {
        display: block !important;
        color: grey !important;
        position: relative;
        right: 0;
        top: 3px;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        margin-left: 0.5em;
    }

        .card-footer > .fa-heart:hover, .card-footer > .fa-heart-o:hover {
            color: purple !important;
        }

/*ΜΙΝΕ PROFILE*/
.myprofile-container-fluid {
    /*display: grid;*/
    height: auto;
    width: auto;
}

.auction-form-profile {
    position: fixed;
    background-color: ghostwhite;
    left: 48%;
    top: 19.5rem;
    margin: 1em;
    width: 45%;
    justify-content: center !important;
    box-shadow: 0px 0px 10px 2px floralwhite;
    align-content: center;
    text-align: center;
    margin: 2em;
    overflow: scroll;
    overflow-x: hidden;
    height: 51%;
    padding: 1.5em;
    color: var(--main-navbarText-color);
}

.btn-auction-submit {
    color: white;
    background-color: var(--main-navbarTextPro-color);
    width: 15rem;
}

    .btn-auction-submit:hover {
        color: white;
        background-color: var(--main-navbarTextPro-color-hover);
    }

.auction-form-profile::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1691px) {
    .auction-form-profile {
        width: 60%;
        left: 35%;
    }
}

@media (max-width: 1241px) {

    .auction-form-profile {
        margin: 1em 0 0 0;
        position: relative;
        display: inline-grid;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 0%;
    }
}

.container-auction div {
    margin: 1em;
    padding: 0.5em;
}

.auction-div {
    box-shadow: 0px 1px 10px 0.1px var(--main-navbarTextPro-color-hover);
}

.container-auction div .form-control {
    align-self: center;
    justify-self: center;
    display: inline-block;
    align-self: center;
    display: initial;
    position: relative;
    outline: none;
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(118,30,131, 0.5);
    font-size: 16px;
    height: 3em;
    color: var(--main-navbarTextPro-color-hover);
}

    .container-auction div .form-control::-webkit-input-placeholder {
        color: var(--main-navbarTextPro-color);
        opacity: 0.5;
        font-size: 16px;
    }

.sidebar {
    grid-area: sidebar;
    background: ghostwhite;
    padding: 0px 0px 10px 0px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 2px floralwhite;
    margin-left: .1rem !important;
    height: auto !important;
    justify-content: center;
}

.mine-profile-ul {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    justify-items: center;
    /*text-align: center;*/
    position: relative;
    height: auto;
}


.GalGadot {
    list-style: none;
    padding: 1em !important;
    text-align: center;
    background: linear-gradient(45deg, rgb(249,107,142,1), rgb(218,103,230,1), rgba(130,125,253,1));
    border-bottom: solid 1px var(--main-navbarTextPro-color-hover);
    color: white;
    font-weight: bold;
    height: auto;
    top: 0px;
    position: relative;
}

    .GalGadot img {
        width: 14em !important;
        height: 12em !important;
        /*padding: 1em;*/
        /*border-radius: 100px !important;*/
        margin: 0 0 1em 0;
        box-shadow: 0px 0px 15px 0.7px rgba(118,30,131, 1);
    }

    .GalGadot p {
        font-size: 25px;
    }

.mine-profile-ul li {
    list-style: none;
    padding: 1em 0 1em 0;
    text-align: center;
    transition: 0.3s;
}

b {
    color: #62646A;
    opacity: 0.6;
    transition: .6s;
    width: auto;
}

    b:hover {
        color: #660066;
    }

    b .mine-profile-pencil {
        top: 4px;
        margin-left: 15px;
        position: absolute;
    }

.mine-profile-ul li div {
    color: #FFFFFF;
    font-weight: 700;
    opacity: 1;
    text-decoration: none;
    position: relative;
    display: grid;
    justify-content: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
}

    .mine-profile-ul li div:hover {
        opacity: 1;
        color: #660066;
        text-decoration: none; /* vgazw to underline on hover */
    }

/* ACTION BTN */
.mine-profile-label {
    color: #660066;
    margin-right: 16em;
    width: 80%;
}

    .mine-profile-label:hover {
        box-shadow: none;
    }

    .mine-profile-label a b:hover .mine-profile-pencil {
        display: inline-table !important;
    }

.mine-profile-pencil {
    display: none !important;
}


/*OTAN MIKRAINEI H OTHONH */
@media (min-width: 1241px) {

    .mine-profile-ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center !important;
    }

    .sidebar {
        background: ghostwhite;
        padding-top: 3em;
        width: 35em;
        margin-left: -1em;
        height: auto;
        border-color: linear-gradient(to left, rgba(249,107,142,1), rgba(218,103,230,1), rgba(130,125,253,1));
    }

    .GalGadot {
        top: -48px;
        position: relative;
    }
}

/*ADDONS TO THE MY PROFILE*/

.mine-profile-input {
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 1px 0px 0px rgba(118,30,131, 0.5);
    padding: 25px 0 0 0;
    overflow: hidden;
    opacity: 0.6;
    background:ghostwhite;
}


.mineProfile-custom-dropdown {
    outline: none;
    width: 120%;
    position: relative;
    height: auto;
    position: relative;
    vertical-align: middle;
    box-shadow: 0px 1px 0px 0px rgba(118,30,131, 0.5);
    line-height: 0px;
    padding: 15px 0 25px 0;
    overflow: hidden;
    opacity: 0.6;
    background: ghostwhite;
    text-align-last: center;
}


.my-profile-button-update {
    background-color: var(--main-navbarBackgroundJoin-color-hover);
    color: floralwhite;
    opacity: 1 !important;
    transition: .6s;
    width: 12.5em;
    display: grid;
    display: none;
}

    .my-profile-button-update:hover {
        background: ghostwhite;
        color: var(--main-navbarBackgroundJoin-color-hover);
        opacity: 1 !important;
    }

.my-profile-button-cancel {
    background-color: var(--main-navbarBackgroundJoin-color-hover);
    color: white;
    transition: .6s;
    width: 12.5em;
    display: grid;
    display: none;
}

    .my-profile-button-cancel:hover {
        background: ghostwhite;
        color: var(--main-navbarBackgroundJoin-color-hover);
    }

/*SEARCH BOX*/
.search-box {
    height: auto;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: inherit;
    width: inherit;
    display: grid !important;
    background: #34e89e;
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    background: linear-gradient(to right, #0f3443, #34e89e);
    visibility: hidden;
}

.search-icon-navbar {
    color: var(--main-navbarText-color) !important;
    cursor: pointer;
    top: .5em;
    font-size: 25px !important;
    margin-left: 0.5em;
    position: relative;
}

    .search-icon-navbar:hover {
        color: var(--main-navbarText-color-hover) !important;
    }


.type-and-press {
    font-size: 40px;
    height: auto;
    position: relative;
    align-self: center;
    justify-self: center;
    top: 25%;
    color: white;
    text-align: center;
}

.type-here {
    font-size: 40px;
    height: auto;
    position: relative;
    align-self: center;
    justify-self: center;
    top: -50%;
    color: white;
    text-align: center;
    width: 180%;
    overflow: hidden;
}

@media (max-width: 991px) {

    .type-and-press {
        font-size: 40px;
        height: auto;
        position: relative;
        align-self: center;
        justify-self: center;
        top: 40%;
        font-size: 15px;
        text-align: center;
    }

    .type-here {
        font-size: 40px;
        height: auto;
        position: relative;
        align-self: center;
        justify-self: center;
        top: -45%;
        font-size: 20px;
        text-align: center;
        width: 100%;
        font-size: 11px;
    }

    .search-icon-navbar {
        color: var(--main-navbarText-color) !important;
        cursor: pointer;
        /*padding: 0 0.5em 0 0.35em;*/
        margin: 0 1em 1em 1.2em;
        top: 5px;
    }

    ::-webkit-input-placeholder { /* Edge */
        color: white;
        opacity: 0.4;
        font-size: 12.5px !important;
    }

    .search-input {
        background-color: transparent;
        outline: none;
        max-width: 100% !important;
        border: none;
        color: white;
        width: 100% !important;
        text-align: center;
        overflow: hidden !important;
        font-size: 12.5px !important;
    }
}

.search-input {
    background-color: transparent;
    outline: none;
    max-width: 100% !important;
    border: none;
    color: white;
    width: 100% !important;
    text-align: center;
    overflow: hidden !important;
}

    .search-input input {
        text-transform: capitalize;
    }

::-webkit-input-placeholder { /* Edge */
    color: white;
    opacity: 0.4;
}

/* Aurora Logo */
img.OurLogo {
    max-width: 10%;
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* CLOSE SEARCH */
.close-search {
    font-size: 40px;
    display: flex;
    color: white !important;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.row {
    margin: 0 !important;
}

/*INFLUENCER CARD*/
.influencer-card-custom{
    height: 32em !important;
}

#audienceInfo-tab {
    position: absolute;
    top: 70%;
    right: -4em;
    margin-right: 2em;
    transform: rotate(270deg);
}

#influencerInfo-tab {
    position: absolute;
    top: 70%;
    left: -2em;
    margin-right: 2em;
    transform: rotate(270deg);
}

.card-unfollow-influnecer{
    top: 0em !important;
    position: relative;
}

.fav-influencer-img{
    border-radius: 50%;
    width: 150px !important;
    align-self: center;
    margin: 0.7em 0 1em 0;
}
/*WALLET*/
.wallet-container-a {
    opacity: 0.8;
    background: transparent;
    width: 70% !important;
    color: white;
    font-size: 15px;
    padding: 2em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-65%, 0%);
    height: auto;
    box-shadow: 0px .4px 25px .4px white;
    border-radius: 25px;
}

@media (max-width: 991px) {
    .wallet-container-a {
        width: 100% !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -15%);
        height: auto;
    }
}


.page-title {
    text-align: left;
}

    .page-title .fa-user {
        float: right;
    }

        .page-title .fa-user a {
            color: white;
            padding: 0.5em;
        }

.fa-align-left {
    margin-right: 15px;
}

.amount-box img {
    width: 30px;
}

.amount {
    font-size: 35px;
}

.amount-box p {
    margin-top: 10px;
    margin-bottom: -10px;
}

.btn-group {
    margin: 20px 0;
}

    .btn-group .btn {
        margin: 8px;
        border-radius: 20px !important;
        font-size: 12px;
    }

.txn-history {
    text-align: left;
    overflow-y: scroll;
    height: 10em;
}

    .txn-history::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

.history-card-txt {
    text-align: left;
}

    .history-card-txt b {
        color: white;
        font-size: 20px;
        top: 1em;
        position: relative;
        left: 0.4em;
    }

.txn-list {
    background-color: ghostwhite;
    padding: 12px 10px;
    font-size: 14px;
    margin: 7px 0;
    border-radius: 10px;
}

.txn-list-purchase {
    color: forestgreen;
}

.txn-list-sell {
    color: red;
}

/*CREDIT DEBIT CARD*/
.debit-amount {
    color: purple;
    position: relative;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    top: -10px;
    left: -5px;
}

.credit-amount {
    color: purple;
    position: relative;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    top: -10px;
    left: -5px;
}

.notification-span {
    float: right;
    display: none;
    cursor: pointer;
    color: var(--main-navbarText-color);
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none !important;
    font-size: 12px;
    top: -3px;
    position: relative;
}

.wallet-badge {
    position: relative;
    top: -13px;
    color: purple;
    font-size: 14px;
    font-weight: 800;
    border-radius: 45%;
    padding: 3px;
    margin: 1px;
}

.txn-list:hover .notification-span {
    display: block;
}

.read-notificaction:hover {
    color: var(--main-navbarTextPro-color-hover) !important;
}

.delete-notification:hover {
    color: var(--main-navbarTextPro-color-hover) !important;
}

.footer-menu {
    margin: 20px -20px 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 10px 10px 0;
}

    .footer-menu p {
        font-size: 12px;
    }

.money-ammount-text {
    border: none;
    background-color: transparent !important;
}

.input-money-ammount {
    background-color: transparent !important;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 100%;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*BOOTBOX CSS*/

.modal-header {
    justify-content: center !important;
}

    .modal-header .close {
        text-shadow: none;
        box-shadow: none;
        outline: none;
    }

.bootbox .modal-header {
    flex-direction: row-reverse;
}

.bootbox-cancel-btn {
    outline: none;
    font-size: 18px;
}

    .bootbox-cancel-btn:hover {
        outline: none;
        color: var(--main-navbarText-color-hover);
    }

.bootbox-confirm-btn {
    outline: none;
    background-color: var(--main-navbarTextPro-color);
    color: var(--main-buttonText-color);
    transition: .6s;
    font-size: 18px;
}

    .bootbox-confirm-btn:hover {
        outline: none;
        background-color: var(--main-navbarBackgroundJoin-color-hover);
        color: var(--main-buttonText-color);
    }



/*NEW FORM CSS*/
.register {
    padding: 3%;
    background-image: linear-gradient(to right top, #2424d1, #3822da, #481fe3, #581bec, #6714f4, #790ef1, #8806ee, #9600eb, #a402dd, #ad0ed0, #b41ac4, #b926b9);
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
    height: auto;
}

    .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }

.register-right {
    background-color: ghostwhite;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    height: auto;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    position: relative;
    padding: 1em;
    margin: 1em !important;
    justify-content: center;
    left: -50%;
    transform: translate(50%);
}

    .register .register-form div {
        display: inline;
        justify-content: center;
        text-align: center;
    }

.btn-submit-form {
    margin-top: 1em;
    border: none;
    padding: 0.8em;
    color: var(--main-buttonText-color);
    font-weight: 600;
    width: 20em;
    /*height: 3em;*/
    top: -2em;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    transition: .6s;
    background-color: #6a13f3;
    left: 50%;
    transform: translate(-53%);
    outline: none !important;
    box-shadow: none !important;
}

    .btn-submit-form:hover {
        background-color: var(--main-navbarTextPro-color-hover);
        color: var(--main-buttonText-color);
        outline: none;
    }

.register .nav-tabs {
    border: none;
    background-color: transparent !important;
    width: 94%;
    left: 15px;
    position: relative;
    margin: 1em;
}

    .register .nav-tabs .nav-item {
        justify-content: center;
        text-align: center;
        align-content: center;
        display: flex;
    }

    .register .nav-tabs .nav-link {
        padding: 0.9em;
        font-size: 15px;
        height: 48px;
        width: 160px;
        font-weight: 600;
        font-size: 14px;
        color: var(--main-navbarText-color);
    }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            color: white;
            background-color: #6a13f3;
            border: none;
        }



@media (max-width: 1051px) {
    .register .nav-tabs {
        position: relative;
        display: block;
        background-color: ghostwhite;
        left: -50%;
        transform: translate(50%);
    }

        .register .nav-tabs .nav-item {
            margin-top: 2em;
        }

        .register .nav-tabs .nav-link {
            color: purple;
        }

    .btn-submit-form {
        left: 50%;
        width: 55%;
        transform: translate(-54%);
    }

    .register-form .form-group .custom-file-upload {
        font-size: 12px !important;
        justify-self: center;
    }
}

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.register-form .form-group {
    text-align: center;
}

    .register-form .form-group .form-control {
        margin: 1em !important;
        align-self: center;
        display: initial;
        position: relative;
        outline: none;
        border: none;
        box-shadow: 0px 1px 0px 0px rgba(118,30,131, 0.5);
        font-size: 16px;
        height: 3em;
        color: var(--main-navbarTextPro-color-hover);
        background-color: ghostwhite;
    }

        .register-form .form-group .form-control::-webkit-input-placeholder {
            color: var(--main-navbarTextPro-color);
            opacity: 0.5;
            font-size: 16px;
        }

    .register-form .form-group .custom-file-upload {
        cursor: pointer !important;
        border: none;
        box-shadow: none;
        transition: .6s;
        border: solid 1px;
    }

        .register-form .form-group .custom-file-upload:hover {
            background-color: var(--main-navbarTextPro-color-hover);
            color: white;
        }

.upload-image {
    display: table-caption !important;
    width: 16em;
}

    .upload-image div {
        height: auto;
        margin: 10px;
        position: relative;
        width: 10px;
    }

    .upload-image img {
        border: solid 1px var(--main-navbarTextPro-color-hover);
        border-radius: 25px;
        position: relative;
        left: 0%;
        transform: translate(-1%);
        top: -1em;
    }

.form-group span span {
    color: red;
    display: block;
    position: relative;
}


/*FOOTER*/

.footer-container {
    /*margin-top: 5em;*/
    box-shadow: 0px 0px 10px 2px white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: white;
    padding: 30px 0px;
}


.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

    .footer-social-icons ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

        .footer-social-icons ul li {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0px 10;
            border-radius: 100%;
            /*background: rgb(136, 3, 136);*/
            border: solid 1px;
            transition: .6s;
        }

            .footer-social-icons ul li a {
                color: rgb(15, 12, 12);
                font-size: 25px;
                display: block;
            }

                .footer-social-icons ul li a i {
                    line-height: 50px;
                }

            .footer-social-icons ul li:hover {
                background: rgb(180, 0, 126);
                border: white solid 1px;
            }

                .footer-social-icons ul li:hover a {
                    color: #fff;
                }

.footer-menu-one {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

    .footer-menu-one ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

        .footer-menu-one ul li {
            display: inline-block;
            margin: 0px 15px;
        }

            .footer-menu-one ul li a {
                font-size: 20px;
                font-weight: 600;
                color: var(--main-navbarText-color);
                letter-spacing: 1px;
                text-transform: uppercase;
            }

.footer-menu-two ul li a:hover {
    color: rgb(136, 3, 136);
}


.footer-menu-two {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}

    .footer-menu-two ul {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

        .footer-menu-two ul li {
            display: inline-block;
            margin: 0px 15px;
        }

            .footer-menu-two ul li a {
                font-family: arial;
                font-size: 20px;
                font-weight: 600;
                color: var(--main-navbarText-color);
                letter-spacing: 1px;
                text-transform: uppercase;
            }

                .footer-menu-two ul li a:hover {
                    color: rgb(136, 3, 136);
                }

.footer-bottom {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.footer-bottom {
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: var(--main-navbarText-color);
}

    .footer-bottom p {
        font-family: arial;
        font-size: 14px;
        text-align: center;
        color: var(--main-navbarText-color);
        font-weight: 600;
        letter-spacing: 1px;
    }


        .footer-bottom p a {
            color: var(--main-navbarText-color);
        }

            .footer-bottom p a:hover {
                color: #272727;
            }

/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
    background: linear-gradient(transparent,#a200ff);
    opacity: .5;
}
